<div class="container__big-card card bg-dark mb-3">
    <div class="big-card__photo">
        <img class="img-fluid" src="https://placehold.co/800x400" alt="blog image">
    </div>
    <div class="container__big-card-info">
    <div class="big-card__title">
        <h1>Título notícia principal</h1>
    </div>
    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur sit hic soluta unde debitis? Incidunt aspernatur, possimus tempora cumque, dignissimos corrupti nostrum corporis assumenda dolores excepturi aut, natus ad eaque.</p>
    </div>
</div>
</div>