<div class="container__small-card">

    <h2 class="text-center mb-3 text-light">Últimas atualizações</h2>

    <div class="card mb-3 bg-dark">
        <div class="row g-0 justify-content-center">
            <div class="col-md-4">
                <img src="https://placehold.co/300x260" class="img-fluid rounded-start" alt="blog placeholder">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sint quidem molestiae rem, ducimus, earum debitis, at iste fugiat ex perferendis consequatur voluptatum aspernatur fugit! Explicabo corporis alias quisquam doloribus.</p>  
                </div>
            </div>
        </div>
    </div>



</div>
