<app-menu-title></app-menu-title>
<div class="container">
    <div class="row articles">
        <div class="col-lg-6 articles__main">
            <app-big-card 
            id="1"
            photoCover="https://placehold.co/800x400" 
            cardTitle="Última notícia" 
            cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sint quidem molestiae rem, ducimus, earum debitis, at iste fugiat ex perferendis consequatur voluptatum aspernatur fugit! Explicabo corporis alias quisquam doloribus">
            </app-big-card>
        </div>
        <div class="col-lg-6 articles__others">
            <h2 class="text-light mb-3 text-center">Últimas atualizações</h2>
            <app-small-card
            id="2"
            photoCover="https://placehold.co/400x300"
            cardTitle="Notícia recente 1" 
            cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sint quidem molestiae rem, ducimus, earum debitis, at iste fugiat ex perferendis consequatur voluptatum aspernatur fugit! Explicabo corporis alias quisquam doloribus">
            >
            </app-small-card>

            <app-small-card
            id="3"
            photoCover="https://placehold.co/400x300"
            cardTitle="Notícia recente 2" 
            cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sint quidem molestiae rem, ducimus, earum debitis, at iste fugiat ex perferendis consequatur voluptatum aspernatur fugit! Explicabo corporis alias quisquam doloribus">
            >
            </app-small-card>

            <app-small-card
            id="4"
            photoCover="https://placehold.co/400x300"
            cardTitle="Notícia recente 3" 
            cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sint quidem molestiae rem, ducimus, earum debitis, at iste fugiat ex perferendis consequatur voluptatum aspernatur fugit! Explicabo corporis alias quisquam doloribus">
            >
            </app-small-card>
        </div>
    </div>
</div>



